@model MCCM.Entidad.TMCCM_C_Ubicacion_Tipo_Ubicacion
<div class="modal fade" id="modal_C_TipoUbicacion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title col-11 text-center">Insertar Tipo</h5>
                <button type="button" class="close col-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="Form_C_TipoUbicacion">
                    <div class="form-group row justify-content-center">
                        <label for="nombre" class="col-md-3 col-form-label">Nombre</label>
                        <input type="text" class="col-md-8 form-control" name="TC_Nombre" id="TC_Nombre_TipoUbicacion">
                    </div>
                    <div class="form-group row justify-content-center">
                        <label for="senas" class="col-md-3 col-form-label">Descripcion</label>
                        <textarea class="col-md-8 form-control" name="TC_Descripcion" id="TC_Descripcion_C_TipoUbicacion" rows="3"></textarea>
                    </div>
                    <div class="form-group row justify-content-center">
                        <button id="btnAgregar_C_TipoUbicacion" type="submit" class="btn btn-primary submit-button mx-2">Insertar</button>


                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

