@model MCCM.Entidad.TMCCM_C_Ubicacion_Tipo_Ubicacion
<div class="modal fade" id="modal_C_TipoUbicacion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font_blanco">Insertar Tipo</h5>
                <button type="button" class="close col-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="Form_C_TipoUbicacion">
                    <div class="d-flex justify-content-center">
                        <label for="nombre" class="" col-md-12 col-form-label text-center">Tipo de ubicación</label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input type="text" class="col-6 form-control" name="TC_Nombre" id="TC_Nombre_TipoUbicacion" required>
                    </div>
                    <div class="d-flex justify-content-center">
                        <label for="senas" class="" col-md-12 col-form-label text-center">Descripcion</label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <textarea class="col-6 form-control" name="TC_Descripcion" id="TC_Descripcion_C_TipoUbicacion" rows="3" required></textarea>

                    </div>
                    <div class="d-flex justify-content-center" style="margin-top:1%">
                        <button id="btnAgregar_C_TipoUbicacion" type="submit" class="btn btn-primary submit-button mx-2">Insertar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

