@model MCCM.Entidad.TMCCM_Tarea


<div class="modal fade" id="ModalFormTarea">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="tituloFormTarea">Registrar Tarea</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body col-12">
                <div class="row">
                    <form class="col-12" id="FormTarea">
                        <div class="form-group row" id="divTareaID" style="display:none;">
                            <div class="col-4">
                                <h6><span>Tarea ID: </span></h6>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" id="TN_ID_Tarea" name="TN_ID_Tarea" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <h6><span>Fecha/Hora: </span></h6>
                            </div>
                            <div class="col-md-8" id="divCalendarioF">
                                <input class="form-control" id="TF_Fecha_Tarea" name="TF_Fecha" required />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <h6><span>Asignado: </span></h6>
                            </div>
                            <div class="col-md-8 " id="divAsignadoF">
                                <select id="TN_ID_Usuario" name="TN_ID_Usuario" class="selectpicker" data-live-search="true" title="Asigne la tarea..." required></select>
                                <label id="TN_ID_Usuario-error" class="error" for="TN_ID_Usuario" style="display: none"></label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <h6><span>Estado: </span></h6>
                            </div>
                            <div class="col-md-8 " id="divTipoF">
                                <select id="TN_Tipo" name="TN_Tipo" class="selectpicker" title="Estado..." required>
                                    <option value="1">Urgente</option>
                                    <option value="2">Normal</option>
                                    <option value="3">Finalizado</option>
                                </select>
                                <label id="TN_Tipo-error" class="error" for="TN_Tipo" style="display: none"></label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <h6><span>Lugar: </span></h6>
                            </div>

                            <div class="col-md-8" id="divTLugar">
                                <input class="form-control input_Tarea_Lugar" id="TC_Lugar_Tarea" name="TC_Lugar" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <h6><span>Diligencia:</span></h6>
                            </div>
                            <div class="col-md-8" id="divDiligenciaF">
                                <textarea rows="2" class="form-control w-100" id="TC_Diligencia" name="TC_Diligencia" required></textarea>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button id="btnRegistrarTarea" type="submit" class="btn btn-primary submit-button mx-2">Insertar</button>
                            <button id="btnModificarTarea" class="btn btn-primary submit-button mx-2" style="display:none">Modificar</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/js/Tarea.js"> </script>
