.vs/

MCCM.AccesoDatos/obj/

MCCM.Entidad/obj/

MCCM.ReglasNegocio/obj/

MCCM.UI/obj/

MCCM.AccesoDatos/bin/

MCCM.Entidad/bin/

MCCM.ReglasNegocio/bin/

MCCM.UI/bin/
MCCM.UI/MCCM.UI.csproj.user
