@model IEnumerable<MCCM.Entidad.TMCCM_Grupo_Vehiculo>

@*Solo para previsualizar*@
<div id="vehiculo-1" class="card border-light mb-3" style="margin: 5px; padding: 0 0;">
    <div class="card-header">
        <div>Vehículo 0210</div>
        <div>
            <a href="#"><span><i class="fa fa-trash"></i></span></a>
        </div>
    </div>
    <div class="card-body" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
        <div style="display: flex; flex-direction: row;">
            <span class="badge badge-primary" style="max-height: 20px;">Km/Inicio:</span>
            <p>1500</p>
        </div>
        <div style="display: flex; flex-direction: row;">
            <span class="badge badge-primary" style="max-height: 20px;">Km/Regreso:</span>
            <p>---</p>
        </div>
        <div style="display: flex; flex-direction: row;">
            <span class="badge badge-primary" style="max-height: 20px;">Fecha/Hora:</span>
            <p>12/12/2019</p>
        </div>
    </div>
</div>