@model IEnumerable<MCCM.Entidad.TMCCM_Grupo_Vehiculo>

@*Solo para previsualizar*@
<div id="vehiculo-1" class="card border-light mb-3" style="margin: 5px; padding: 0 0;">
    <div class="card-header">
        <div>Vehículo 0210</div>
        <div>
            <a href="#"><span><i class="fa fa-trash"></i></span></a>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-4 text-right"><span class="badge badge-primary" style="width: 100px;">Km/Inicio:</span></div>
            <div class="col-md-8"><p>1500</p></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 text-right"><span class="badge badge-primary" style="width: 100px;">Km/Regreso:</span></div>
            <div class="col-md-8"><p>---</p></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 text-right"><span class="badge badge-primary" style="width: 100px;">Fecha/Hora:</span></div>
            <div class="col-md-8"><p>12/12/2020</p></div>
        </div>
    </div>
</div>