<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MCCMEntities" connectionString="metadata=res://*/MCCMModel.csdl|res://*/MCCMModel.ssdl|res://*/MCCMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=163.178.107.10;initial catalog=MCCM;user id=laboratorios;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>