@model MCCM.Entidad.TMCCM_Entidad_Persona_Juridica
<div class="modal fade " id="entidadPersonaJuridicaModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font_blanco" id="tituloEntidadPersonaJuridica">Insertar Persona Juridica</h5>
                <button type="button" class="close col-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="FormEntidadPersonaJuridica">

                    <div class="form-group row" id="divPersonaJuridicaID" style="display:none">
                        <label for="creadoPor" class="col-md-3 col-form-label">ID</label>
                        <input type="text" class="col-md-8 form-control" readonly name="TN_ID_Persona_Juridica" id="TN_ID_Persona_Juridica">
                    </div>
                    <div class="form-group row">
                        <label for="cedulaJuridica" class="col-md-3 col-form-label">Cedula Juridica</label>
                        <input type="text" class="col-md-8 form-control" name="TC_ID_Cedula_Juridica" id="TC_ID_Cedula_Juridica_PJ">
                    </div>
                    <div class="form-group row">
                        <label for="nombreOrganizacion" class="col-md-3 col-form-label">Nombre Organización</label>
                        <input type="text" class="col-md-8 form-control" name="TC_Nombre_Organización" id="TC_Nombre_OrganizaciónPJuridca_PJ">
                    </div>
                    <div class="form-group row">
                        <label for="nombreComercial" class="col-md-3 col-form-label">Nombre Comercial</label>
                        <input type="text" class="col-md-8 form-control" name="TC_Nombre_Comercial" id="TC_Nombre_Comercial_PJ">
                    </div>
                    
                    <div class="form-group row">
                        <label for="tipoOrganizacion" class="col-md-3 col-form-label">Tipo Organización</label>
                        <select class=" col-md-8 form-control" name="TN_ID_Tipo_Organizacion" title="Seleccione un tipo..." id="TN_ID_Tipo_Organizacion"></select>
                        <a href="#" data-toggle="modal" data-target="#tipoOrganizacionModal" class="fa fa-plus col-md-1 align-self-center font_gris"></a>
                    </div>
                    <div class="form-group row">
                        <label for="sitioWeb" class="col-md-3 col-form-label">Sitio web</label>
                        <input type="text" class="col-md-8 form-control" name="TC_Sitio_Web" id="TC_Sitio_Web_PJ">
                    </div>
                    <div class="form-group row">
                        <label id="comentario_PJ" for="comentario" class="col-md-3 col-form-label">Comentario</label>
                        <textarea class="col-md-8 form-control" name="TC_Comentario" id="TC_Comentario_PJ" rows="3"></textarea>
                    </div>
                    <div class="form-group row">
                        <label id="creadoPor_PJ" for="creadoPor" class="col-md-3 col-form-label">Creado por</label>
                        <input type="text" class="col-md-8 form-control" name="TC_Creado_Por" id="TC_Creado_Por_PJ">
                    </div>
                    <div class="form-group row" style="display:none" id="modificadoPor_Row_PJ">
                        <label id="modificadopor_PJ" for="creadoPor" class="col-md-3 col-form-label">Modificado por</label>
                        <input type="text" class="col-md-8 form-control" name="TC_Modificado_Por" id="TC_Modificado_Por_PJ">
                    </div>
                    <div class="form-group row" style="display:none" id="fechaCreacion_Row_PJ">
                        <label id="fechaCreacion_PJ" for="alias" class="col-md-3 col-form-label">Fecha Creacion</label>
                        <input type="text" class="col-md-8 form-control" name="TF_Fecha_Creacion_PJ" id="TF_Fecha_Creacion_PJ" readonly>
                    </div>
                    <div class="form-group row" style="display:none" id="fechaModificación_Row_PJ">
                        <label id="fechaModificación_PJ" for="segundoApellido" class="col-md-3 col-form-label">Fecha Modificación</label>
                        <input type="text" class="col-md-8 form-control" name="TF_Fecha_Modificacion_PJ" id="TF_Fecha_Modificacion_PJ" readonly>
                    </div>
                    
                    <div class="form-group row">
                        <label id="verificado_PJ" for="verificado" class="col-md-3 col-form-label">Verificado</label>
                        <div class="col-md-8  form-check">
                            <input class="form-check-input" type="checkbox" name="TB_Verificado" id="TB_Verificado_PJ">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button id="btnInsertarEntidadPersonaJuridica" type="submit" class="btn btn-primary submit-button mx-2">Insertar</button>
                        <button id="btnModificarEntidadPersonaJuridica" class="btn btn-primary submit-button mx-2" style="display:none">Modificar</button>
                        <button id="btnCancelarEntidadPersonaJuridica" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>


                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">



            </div>
        </div>
    </div>
</div>

@Html.Partial("/Views/EntidadPersonaJuridica/_ModalC_Tipo_Organizacion.cshtml");
<script src="~/Scripts/js/EntidadPersonaJuridica.js"></script>