.card .card-body {
    margin: 0 0;
    padding: 0 0;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-body {
    display: flex;
    flex-direction: column;
    min-height: 250px;
}

#dashboard-container {
    display: flex;
    flex-direction: column;
    margin: 0 0;
    padding: 0 0;
    justify-content: center;
}

.dashboard-child {
    display: flex;
    flex-direction: column;
    margin: 0 0;
    padding: 0 5px;
}

@media (min-width: 768px) {
    #dashboard-container {
        height: 75vh;
        flex-direction: row;
    }

    .dashboard-child {
        height: 100%;
    }

    .pestanna-body {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .dashboard-child {
        align-items: center;
    }

    .card {
        max-width: 350px;
        min-width: 350px;
    }
}