@model MCCM.Entidad.TMCCM_Entidad_Vehiculo
<div class="modal fade bd-example-modal-lg" id="entidadVehículoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title col-11 text-center" id="tituloEntidadVehiculo">Insertar Vehiculo</h5>
                <button type="button" class="close col-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="FormEntidadVehiculo" enctype="multipart/form-data">
                    <input type="text" class="col-md-8 form-control" style="display:none" name="TN_ID_Caso" id="TN_ID_Caso_Vehiculo">
                    <input type="text" class="col-md-8 form-control" style="display:none" name="TB_Fotografia" id="TB_Fotografia_Vehiculo">

                    <div class="form-group row justify-content-center" id="divVehiculoID" style="display:none">
                        <label for="creadoPor" class="col-md-3 col-form-label">ID</label>
                        <input type="text" class="col-md-8 form-control" readonly name="TN_ID_Vehiculo" id="TN_ID_Vehiculo">
                    </div>
                    <div class="form-group row">
                        <label for="placa" class="col-md-3 col-form-label">Placa</label>
                        <input type="text" class="col-md-8 form-control" name="TC_Placa" id="TC_Placa_Vehiculo">
                    </div>
                    <div class="form-group row">
                        <label for="marca" class="col-md-3 col-form-label">Marca</label>
                        <select class=" col-md-8 form-control" name="TN_ID_Marca_Vehiculo" id="TN_ID_Marca_Vehiculo"></select>
                        <a href="#" class="fa fa-plus col-md-1"></a>
                    </div>
                    <div class="form-group row">
                        <label for="clase" class="col-md-3 col-form-label">Clase</label>
                        <select class=" col-md-8 form-control" name="TN_ID_Clase_Vehiculo" id="TN_ID_Clase_Vehiculo"></select>
                        <a href="#" class="fa fa-plus col-md-1"></a>
                    </div>
                    <div class="form-group row">
                        <label for="fotografía" class="col-md-3 col-form-label">Fotografía</label>
                        <input type="file" class="col-md-8 form-control-file" name="imagenVehiculo" id="imagenVehiculo">
                    </div>
                    <div class="form-group row">
                        <label for="color" class="col-md-3 col-form-label">Color</label>
                        <select class=" col-md-8 form-control" name="TN_ID_Color_Vehiculo" id="TN_ID_Color_Vehiculo"></select>
                        <a href="#" class="fa fa-plus col-md-1"></a>
                    </div>
                    <div class="form-group row">
                        <label for="estilo" class="col-md-3 col-form-label">Estilo</label>
                        <input type="text" class="col-md-8 form-control" name="TC_Estilo" id="TC_Estilo_Vehiculo">
                    </div>
                    <div class="form-group row">
                        <label for="año" class="col-md-3 col-form-label">Año</label>
                        <input type="text" class="col-md-8 form-control" name="TN_Anno" id="TN_Anno_Vehiculo">
                    </div>
                    <div class="form-group row">
                        <label id="creadoPor_V" for="creadoPor" class="col-md-3 col-form-label">Creado por</label>
                        <input type="text" class="col-md-8 form-control" name="TC_Creado_Por" id="TC_Creado_Por_Vehiculo">
                    </div>
                    <div class="form-group row" tyle="display:none" id="fechaCreacion_Row_V">
                        <label id="fechaCreacion_V" for="alias" class="col-md-3 col-form-label">Fecha Creacion</label>
                        <input type="text" class="col-md-8 form-control" name="TF_Fecha_Creacion" readonly id="TF_Fecha_Creacion_Vehiculo">
                    </div>
                    <div class="form-group row" style="display:none" id="fechaModificación_Row_V">
                        <label id="fechaModificación_V" for="segundoApellido" class="col-md-3 col-form-label">Fecha Modificación</label>
                        <input type="text" class="col-md-8 form-control" name="TF_Fecha_Modificacion" readonly id="TF_Fecha_Modificacion_Vehiculo">
                    </div>
                    <div class="form-group row" style="display:none" id="modificadoPor_Row_V">
                        <label id="modificadopor_V" for="creadoPor" class="col-md-3 col-form-label">Modificado por</label>
                        <input type="text" class="col-md-8 form-control" name="TF_Modificado_Por" id="TF_Modificado_Por_Vehiculo">
                    </div>
                    <div class="form-group row">
                        <label id="verificado_V" for="verificado" class="col-md-3 col-form-label">Verificado</label>
                        <div class="col-md-8  form-check">
                            <input class="form-check-input" type="checkbox" name="TB_Verificado" id="TB_Verificado_Vehiculo">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button id="btnInsertarEntidadVehiculo" type="submit" class="btn btn-primary submit-button mx-2">Insertar</button>
                        <button id="btnModificarEntidadVehiculo" class="btn btn-primary submit-button mx-2" style="display:none">Modificar</button>
                        <button id="btnCancelarEntidadVehiculo" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
</div>
            <div class="modal-footer d-flex justify-content-center">
               

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/js/EntidadVehiculo.js"></script>