@model MCCM.Entidad.TMCCM_C_Vehiculo_Color
<div class="modal fade" id="modal_C_ColorVehiculo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title col-11 text-center">Insertar Color</h5>
                <button type="button" class="close col-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="Form_C_ColorVehiculo">
                    <div class="form-group row justify-content-center">
                        <label for="descripcion" class="col-md-3 col-form-label">Descripcion</label>
                        <input class="col-md-8 form-control" name="TC_Descripcion" id="TC_Descripcion_C_ColorVehiculo">
                    </div>
                    <div class="form-group row justify-content-center">
                        <button id="btnAgregar_C_ColorVehiculo" type="submit" class="btn btn-primary submit-button mx-2">Insertar</button>


                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
