@model MCCM.Entidad.TMCCM_Entidad_Droga
<div class="modal fade bd-example-modal-lg" id="entidadDrogaModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title col-11 text-center" id="tituloEntidadDrogaInsertar">Insertar Entidad Droga</h5>
                <h5 class="modal-title col-11 text-center" id="tituloEntidadDroga" style="display:none">Entidad Droga</h5>
                <button type="button" class="close col-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="FormEntidadDroga">
                    <div class="form-group row" id="divDrogaID" style="display:none">
                        <label for="creadoPor" class="col-md-3 col-form-label">ID</label>
                        <input type="text" class="col-md-8 form-control" readonly name="TN_ID_Droga" id="TN_ID_Droga">
                    </div>
                    <div class="form-group row">
                        <label for="tipo" class="col-md-3 col-form-label">Tipo</label>
                        <div class="col-8">
                            <select class="form-control" id="TN_ID_Tipo_Droga" name="TN_ID_Tipo_Droga" autocomplete="off" required></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nombre" class="col-md-3 col-form-label">Nombre</label>
                        <input type="text" class="col-md-8 form-control" name="TC_Nombre" id="TC_Nombre_Droga">
                    </div>
                    <div class="form-group row">
                        <label for="detalle" class="col-md-3 col-form-label">Detalle</label>
                        <textarea class="col-md-8 form-control" name="TC_Detalle" id="TC_Detalle" rows="3"></textarea>
                    </div>
                    <div class="form-group row">
                        <label for="cantidad" class="col-md-3 col-form-label">Cantidad</label>
                        <input type="number" class="col-md-8 form-control" name="TN_Cantidad" id="TN_Cantidad">
                    </div>

                    <div class="form-group row">
                        <label for="alias" class="col-md-3 col-form-label">Fecha de Decomiso</label>
                        <input class="col-md-8 form-control" name="TF_Fecha_Decomiso" id="TF_Fecha_Decomiso">
                    </div>

                    <div class="form-group row">
                        <label for="segundoApellido" class="col-md-3 col-form-label" style="display:none">Fecha Modificación</label>
                        <input type="text" class="col-md-8 form-control" name="TF_Fecha_Modificacion" style="display:none" id="TF_Fecha_Modificacion">
                    </div>
                    <div class="form-group row" id="divDrogaFC" style="display:none">
                        <label for="alias" class="col-md-3 col-form-label">Fecha Creacion</label>
                        <input type="text" class="col-md-8 form-control" name="TF_Fecha_Creacion_Droga" readonly id="TF_Fecha_Creacion_Droga">
                    </div>
                    <div class="form-group row">
                        <label for="creadoPor" class="col-md-3 col-form-label">Creado por</label>
                        <input type="text" class="col-md-8 form-control" name="TC_Creado_Por_Droga" id="TC_Creado_Por_Droga">
                    </div>
                    <div class="form-group row" id="divDrogaMP" style="display:none">
                        <label for="creadoPor" class="col-md-3 col-form-label">Modificado por</label>
                        <input type="text" class="col-md-8 form-control" readonly name="TF_Modificado_Por_Droga" id="TF_Modificado_Por_Droga">
                    </div>
                    <div class="form-group row">
                        <label for="verificado" class="col-md-3 col-form-label">Verificado</label>
                        <div class="col-md-8  form-check">
                            <input class="form-check-input" type="checkbox" name="TB_Verificado_Por" id="TB_Verificado_Droga">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button id="btnAgregarEntidadDroga" type="submit" class="btn btn-primary">Insertar</button>
                        <button id="btnCancelarEntidadDroga" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button id="btnModificarEntidadDroga" class="btn btn-info" style="display:none">Modificar</button>
                        <button id="btnEliminarEntidadDroga" class="btn btn-danger" style="display:none">Eliminar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/js/EntidadDroga.js"></script>