<div class="container col-12">
    <div class="row">


        <h5 class="badge-info" style="margin:0.5%;">
            Nombre del Caso:
        </h5>
        <input type="text" class="col-3 form-control" style="margin-left: 2%!important;">


        <button class="btn btn-info col-sm-3" style="margin-left: 60%; margin-top:-3.5%!important;" data-toggle="popover" data-content='<input type=' id='picker'>Rango de Fechas</button>

    </div>


    <div class="row">
        <div class="card align-content-center col-12" style="border:rgba(255, 106, 0, 0.5);">
            <div class="card-header" >
                Reporte
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Marcar Todo
                    </label>
                </div>
            </div>

            <div class="card-body">
                <div class="container w-100">
                    <div class="row">
                        <div class="card col-4">
                            <div class="card-header">
                                Recursos
                            </div>
                            <div class="card-body" style="margin:0.5%;">

                                <div class="col-sm-12">
                                    <div class="row">

                                        <div class="col-6">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

                                            <h5 class="badge-info" for="defaultCheck1" style="margin:auto; ">
                                                Dinero
                                            </h5>
                                        </div>
                                        <div class="col-6">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

                                            <h5 class="badge-info" for="defaultCheck1" style="margin:auto; ">
                                                Vehículos
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

                                            <h5 class="badge-info" for="defaultCheck1" style="margin:auto; ">
                                                Personal Policial

                                            </h5>
                                        </div>
                                        <div class="col-6">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

                                            <h5 class="badge-info" for="defaultCheck1" style="margin:auto; ">
                                                Combustible
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card col-4">
                            <div class="card-header">
                                Entidades
                            </div>
                            <div class="card-body">

                                <div class="col-sm-12">
                                    <div class="row">

                                        <div class="col-3">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

                                            <label class="fa fa-user" for="defaultCheck1" style="margin:auto; ">

                                            </label>
                                        </div>
                                        <div class="col-3">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

                                            <label class="fa fa-car" for="defaultCheck1" style="margin:auto; ">

                                            </label>
                                        </div>

                                        <div class="col-3">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

                                            <label class="fa fa-map-marker" for="defaultCheck1" style="margin:auto; ">

                                            </label>
                                        </div>
                                        <div class="col-3">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

                                            <label class="fa fa-phone" for="defaultCheck1" style="margin:auto; ">

                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4" style="margin-right:20%!important">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

                                            <label class="fa fa-bomb" for="defaultCheck1" style="margin:auto; ">

                                            </label>
                                        </div>
                                        <div class="col-4">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

                                            <label class="fa fa-magic" for="defaultCheck1" style="margin:auto; ">

                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card col-4">
                            <div class="card-header">
                                Bitácora
                            </div>
                            <div class="card-body">

                                <div class="col-sm-12">
                                    <div class="row">

                                        <div class="col-6">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

                                            <h5 class="badge-info" for="defaultCheck1">
                                                Eventos
                                            </h5>
                                        </div>
                                        <div class="col-6">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

                                            <h5 class="badge-info" for="defaultCheck1">
                                                Entidades
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

                                            <h5 class="badge-info" for="defaultCheck1">
                                                Tareas Terminadas
                                            </h5>
                                        </div>
                                        <div class="col-6">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                            <h5 class="badge-info" for="defaultCheck1">
                                                Tareas Pendientes
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div><button type="button" class="btn btn-info" style="margin:auto;" ; opacity:1">Generar Reporte</button></div>
    </div>
</div>


