
<div class="modal fade" id="ModalMensaje">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-body">
                <h5>¿Está seguro que quiere eliminar?</h5>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger btnEliminarMensaje">Eliminar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/js/Mensaje.js"></script>