<div id="reporteFinal" class="chart-container d-flex flex-column h-100 w-100" style="overflow-y: scroll;">
    <script>$('#reporteFinal').hide();</script>
    <div id="bitacora-reporte-contenedor">
        <script>$('#bitacora-reporte-contenedor').hide();</script>
        <h4>Bitácora</h4>
        <div class="d-flex flex-sm-row">
            <canvas id="eventos-reporte" class="col-sm-6"></canvas>
            <script>$('#eventos-reporte').hide();</script>
            <canvas id="tareas-reporte" class="col-sm-6"></canvas>
            <script>$('#tareas-reporte').hide();</script>
        </div>
    </div>
    <div id="entidades-reporte-contenedor">
        <script>$('#entidades-reporte-contenedor').hide();</script>
        <h4>Entidades</h4>
        <div class="d-flex flex-sm-row">
            <canvas id="entidades-reporte" class="col-sm-12"></canvas>
        </div>
    </div>
    <div id="recursos-reporte-contenedor">
        <script>$('#recursos-reporte-contenedor').hide();</script>
        <h4>Recursos</h4>
        <div class="d-flex flex-sm-row">
            <canvas id="gastos-reporte" class="col-sm-6"></canvas>
            <script>$('#gastos-reporte').hide();</script>
            <canvas id="personal-reporte" class="col-sm-6"></canvas>
            <script>$('#personal-reporte').hide();</script>
        </div>
    </div>
</div>