@model MCCM.Entidad.TMCCM_Entidad_Ubicacion
<div class="modal fade bd-example-modal-lg" id="entidadUbicacionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title col-11 text-center" id="tituloEntidadUbicacion">Insertar Entidad Ubicacion</h5>
                <h5 class="modal-title col-11 text-center" id="modificarEntidadUbicacion" style="display:none">Entidad Ubicacion</h5>

                <button type="button" class="close col-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="FormEntidadUbicacion" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="tipoUbicacion" class="col-md-3 col-form-label">Tipo</label>
                        <select class=" col-md-8 form-control" name="TN_Id_Ubicacion" id="TN_Id_Ubicacion">
                            <option>Casa</option>
                            <option>Parque</option>
                            <option>Edificio</option>
                            <option>Panadería</option>
                            <option>Farmacia</option>
                        </select>
                        <a href="#" class="fa fa-plus col-md-1"></a>
                    </div>

                    <div class="form-group row">
                        <label for="provincia" class="col-md-3 col-form-label">Provincia</label>
                        <select class=" col-md-8 form-control" name="TN_ID_Provincia" id="TN_ID_Provincia">
                            <option>No indica</option>
                            <option>San José</option>
                            <option>Heredia</option>
                            <option>Cartago</option>
                            <option>Alajuela</option>
                            <option>Puntarenas</option>
                            <option>Guanacaste</option>
                            <option>Limón</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label for="canton" class="col-md-3 col-form-label">Cantón</label>
                        <select class=" col-md-8 form-control" name="TN_ID_Canton" id="TN_ID_Canton">
                            <option>No indica</option>
                            <option>Desconocido</option>
                            <option>San José</option>
                            <option>Alajuela</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label for="distrito" class="col-md-3 col-form-label">Distrito</label>
                        <select class=" col-md-8 form-control" name="TN_ID_Distrito" id="TN_ID_Distrito">
                            <option>No indica</option>
                            <option>Paraíso</option>
                            <option>Cartago</option>
                            <option>Frailes</option>
                        </select>

                    </div>
                    <div class="form-group row">
                        <label for="senas" class="col-md-3 col-form-label">Señas</label>
                        <textarea class="col-md-8 form-control" name="TC_Sennas" id="TC_Sennas" rows="3"></textarea>
                    </div>
                    <div class="form-group row">
                        <label for="latitud" class="col-md-3 col-form-label">Latitud</label>
                        <input type="text" class="col-md-8 form-control" name="TD_Latitud" id="TD_Latitud">
                    </div>
                    <div class="form-group row">
                        <label for="longitud" class="col-md-3 col-form-label">Longitud</label>
                        <input type="text" class="col-md-8 form-control" name="TD_Longitud" id="TD_Longitud">
                    </div>
                    <div class="form-group row">
                        <label id="creadoPor_U" for="creadoPor" class="col-md-3 col-form-label">Creado por</label>
                        <input type="text" class="col-md-8 form-control" name="TC_Creado_Por_U" id="TC_Creado_Por_U">
                    </div>
                    <div class="form-group row" tyle="display:none" id="fechaCreacion_Row_U">
                        <label id="fechaCreacion_U" for="alias" class="col-md-3 col-form-label">Fecha Creacion</label>
                        <input type="text" class="col-md-8 form-control" name="TF_Fecha_Creacion_U" id="TF_Fecha_Creacion_U">
                    </div>
                    <div class="form-group row" style="display:none" id="fechaModificación_Row_U">
                        <label id="fechaModificación_U" for="segundoApellido" class="col-md-3 col-form-label">Fecha Modificación</label>
                        <input type="text" class="col-md-8 form-control" name="TF_Fecha_Modificacion_U" id="TF_Fecha_Modificacion_U">
                    </div>
                    <div class="form-group row" style="display:none" id="modificadoPor_Row_U">
                        <label id="modificadopor_U" for="creadoPor" class="col-md-3 col-form-label">Modificado por</label>
                        <input type="text" class="col-md-8 form-control" name="TF_Modificado_Por_U" id="TF_Modificado_Por_U">
                    </div>
                    <div class="form-group row">
                        <label id="verificado_U" for="verificado" class="col-md-3 col-form-label">Verificado</label>
                        <div class="col-md-8  form-check">
                            <input class="form-check-input" type="checkbox" name="TB_Verificado_U" id="TB_Verificado_U">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button id="btnInsertarEntidadUbicacion" type="submit" class="btn btn-primary">Insertar</button>
                        <button id="btnCancelarEntidadUbicacion" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button id="btnModificarEntidadUbicacion" class="btn btn-info" style="display:none">Modificar</button>
                        <button id="btnEliminarEntidadUbicacion" class="btn btn-danger" style="display:none">Eliminar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/js/EntidadUbicacion.js"></script>