@model MCCM.Entidad.TMCCM_Entidad_Telefono
<div class="modal fade bd-example-modal-lg" id="entidadTelefonoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title col-11 text-center" id="exampleModalLabel">Insertar Entidad Telefono</h5>
                <h5 class="modal-title col-11 text-center" id="exampleModalLabel" style="display:none">Entidad Telefono</h5>

                <button type="button" class="close col-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="FormEntidadTelefono" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="telefono" class="col-md-3 col-form-label">Telefono</label>
                        <input type="text" class="col-md-8 form-control" name="TN_Numero" id="TN_Numero">
                    </div>
                    <div class="form-group row">
                        <label for="empresaTelefonica" class="col-md-3 col-form-label">Proveedor</label>
                        <select class=" col-md-8 form-control" name="TN_ID_Proveedor" id="TN_ID_Proveedor">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <a href="#" class="fa fa-plus col-md-1"></a>
                    </div>
                    <div class="form-group row">
                        <label for="iconoTelefono" class="col-md-3 col-form-label">Icono telefono</label>
                        <select class=" col-md-8 form-control" name="TN_ID_Icono_Telefono" id="TN_ID_Icono_Telefono">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <a href="#" class="fa fa-plus col-md-1"></a>
                    </div>
                    <div class="form-group row">
                        <label for="ccomentario" class="col-md-3 col-form-label">Comentario</label>
                        <textarea class="col-md-8 form-control" name="TC_Comentario" id="TC_Comentario" rows="3"></textarea>
                    </div>
                    <div class="form-group row">
                        <label for="segundoApellido" class="col-md-3 col-form-label" style="display:none">Fecha Modificación</label>
                        <input type="text" class="col-md-8 form-control" name="TF_Fecha_Modificacion" style="display:none" id="TF_Fecha_Modificacion">
                    </div>
                    <div class="form-group row">
                        <label for="alias" class="col-md-3 col-form-label" style="display:none">Fecha Creacion</label>
                        <input type="text" class="col-md-8 form-control" name="TF_Fecha_Creacion" style="display:none" id="TF_Fecha_Creacion">
                    </div>
                    <div class="form-group row">
                        <label for="creadoPor" class="col-md-3 col-form-label">Creado por</label>
                        <input type="text" class="col-md-8 form-control" name="TC_Creado_Por" id="TC_Creado_Por">
                    </div>
                    <div class="form-group row">
                        <label for="creadoPor" class="col-md-3 col-form-label" style="display:none">Modificado por</label>
                        <input type="text" class="col-md-8 form-control" name="TF_Modificado_Por" style="display:none" id="TF_Modificado_Por">
                    </div>
                    <div class="form-group row">
                        <label for="verificado" class="col-md-3 col-form-label">Verificado</label>
                        <div class="col-md-8  form-check">
                            <input class="form-check-input" type="checkbox" name="TB_Verificado" id="TB_Verificado">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button id="btnInsertarEntidadTelefono" type="submit" class="btn btn-primary">Insertar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button id="btnModificar" class="btn btn-info" style="display:none">Modificar</button>
                        <button id="btnEliminar" class="btn btn-danger" style="display:none">Eliminar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">


            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/js/EntidadTelefono.js"></script>