@model MCCM.Entidad.TMCCM_Entidad_Ubicacion
    <div class="modal fade bd-example-modal-lg" id="entidadUbicacionModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title col-11 text-center" id="exampleModalLabel">Insertar Entidad Ubicación</h5>
                    <button type="button" class="close col-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="tipoUbicacion" class="col-md-3 col-form-label">Tipo</label>
                            <select class=" col-md-8 form-control" name="TN_Id_Ubicacion" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <a href="#" class="fa fa-plus col-md-1"></a>
                        </div>

                        <div class="form-group row">
                            <label for="provincia" class="col-md-3 col-form-label">Provincia</label>
                            <select class=" col-md-8 form-control" name="TN_ID_Provincia" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="canton" class="col-md-3 col-form-label">Cantón</label>
                            <select class=" col-md-8 form-control" name="TN_ID_Canton" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="distrito" class="col-md-3 col-form-label">Distrito</label>
                            <select class=" col-md-8 form-control" name="TN_ID_Distrito" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>

                        </div>
                        <div class="form-group row">
                            <label for="senas" class="col-md-3 col-form-label">Señas</label>
                            <textarea class="col-md-8 form-control" name="TC_Sennas" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="form-group row">
                            <label for="latitud" class="col-md-3 col-form-label">Latitud</label>
                            <input type="text" class="col-md-8 form-control" name="TD_Latitud" id="segundoApellidoEntidadPersona">
                        </div>
                        <div class="form-group row">
                            <label for="longitud" class="col-md-3 col-form-label">Longitud</label>
                            <input type="text" class="col-md-8 form-control" name="TD_Longitud" id="segundoApellidoEntidadPersona">
                        </div>
                        <div class="form-group row">
                            <label for="segundoApellido" class="col-md-3 col-form-label">Fecha Modificación</label>
                            <input type="text" class="col-md-8 form-control" name="TF_Fecha_Modificacion" id="segundoApellidoEntidadPersona">
                        </div>
                        <div class="form-group row">
                            <label for="alias" class="col-md-3 col-form-label">Fecha Creacion</label>
                            <input type="text" class="col-md-8 form-control" name="TF_Fecha_Creacion" id="edadEntidadPersona">
                        </div>
                        <div class="form-group row">
                            <label for="creadoPor" class="col-md-3 col-form-label">Creado por</label>
                            <input type="text" class="col-md-8 form-control" name="TC_Creado_Por" id="edadEntidadPersona">
                        </div>
                        <div class="form-group row">
                            <label for="creadoPor" class="col-md-3 col-form-label">Modificado por</label>
                            <input type="text" class="col-md-8 form-control" name="TF_Modificado_Por" id="edadEntidadPersona">
                        </div>
                        <div class="form-group row">
                            <label for="verificado" class="col-md-3 col-form-label">Verificado</label>
                            <div class="col-md-8  form-check">
                                <input class="form-check-input" type="checkbox" name="TB_Verificado" id="gridCheck1">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-primary">Insertar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
