
@{
    ViewBag.Title = "Dashboard";
}

<link href="~/Content/Dashdboard.css" rel="stylesheet" type="text/css" />

<style>
    .filaseleccionada {
        background-color: cornflowerblue;
    }
</style>

<div class="col-sm-12" id="dashboard-container">

    <div class="col-md-2 dashboard-child" style="margin: 0 0">

        <div class="card border-light mb-3" style="height: 70%;">
            <div class="card-header">
                <div>Casos</div>
                
                <div><a href="#"><span><i class="fa fa-plus" data-toggle="modal" data-target="#ModalFormCaso"></i></span></a></div>
            </div>
            <div class="card-body" id="casos-body" style="overflow-y: scroll">

            </div>
        </div>



        <div class="card border-light mb-3" style="height: 30%;">
            <div class="card-header">
                <div>Mando</div>
                <div><a href="#"><span><i class="fa fa-plus"></i></span></a></div>
            </div>
            <div class="card-body" id="mado-body">

            </div>
        </div>

    </div>

    <div class="col-md-10 dashboard-child" style="margin: 0 0">

        <div class="card border-light mb-3" style="height: 100%">
            <div class="card-header">

                @*Pestannas nav*@
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb" style="margin: 0; padding: 0 0;">
                            <li class="breadcrumb-item"><a class="nav-link" href="#" style="padding: 0 0;" onclick="changeVisiblePestannaBody('pestanna-1-body');">Pestaña #1</a></li>
                            <li class="breadcrumb-item"><a class="nav-link" href="#" style="padding: 0 0;" onclick="changeVisiblePestannaBody('pestanna-2-body');">Pestaña #2</a></li>
                            <li class="breadcrumb-item"><a class="nav-link" href="#" style="padding: 0 0;" onclick="changeVisiblePestannaBody('reporte-body');">Generar reporte</a></li>
                        </ol>
                    </nav>
                </div>

                <div>
                    <a style="text-decoration: none;" href="https://www.teletica.com/vivo?canal=teletica7" target="_blank">Teletica</a>
                    <a style="text-decoration: none;" href="https://www.repretel.com/envivo-canal6/" target="_blank">Repretel</a>
                </div>

            </div>

            @*Pestanna #1 Body*@
            <div class="card-body pestanna-body" id="pestanna-1-body">

                <div class="card border-light mb-3 col-md-4" style="height: 100%; margin: 0 0; padding: 0 0;">
                    <div class="card-header">
                        <div>Bitácora</div>
                        <div><a href="#"><span><i class="fa fa-plus"></i></span></a></div>
                    </div>
                    <div class="card-body" id="bitacora-body" style="overflow-y: scroll">

                    </div>
                </div>

                <div class="card border-light mb-3 col-md-4" style="height: 100%; margin: 0 0; padding: 0 0;">
                    <div class="card-header">
                        <div>Entidades</div>
                        <div><a href="#"><span><i class="fa fa-plus"></i></span></a></div>
                    </div>
                    <div class="card-body" id="entidades-body" style="overflow-y: scroll">

                    </div>
                </div>

                <div class="card border-light mb-3 col-md-4" style="height: 100%; margin: 0 0; padding: 0 0;">
                    <div class="card-header">
                        <div>Tareas</div>
                        <div><a href="#"><span><i class="fa fa-plus"></i></span></a></div>
                    </div>
                    <div class="card-body" id="tareas-body" style="overflow-y: scroll">

                    </div>
                </div>

            </div>

            @*Pestanna #2 Body*@
            <div class="card-body pestanna-body" id="pestanna-2-body">

                <div class="card border-light mb-3 col-md-4" style="height: 100%; margin: 0 0; padding: 0 0;">
                    <div class="card-header">
                        <div>Gastos Operativos</div>
                        <div><a href="#"><span><i class="fa fa-plus"></i></span></a></div>
                    </div>
                    <div class="card-body" id="gastos-body" style="overflow-y: scroll">

                    </div>
                </div>

                <div class="card border-light mb-3 col-md-4" style="height: 100%; margin: 0 0; padding: 0 0;">
                    <div class="card-header">
                        <div>Personal</div>
                        <div><a href="#"><span><i class="fa fa-plus"></i></span></a></div>
                    </div>
                    <div class="card-body" id="personal-body" style="overflow-y: scroll">

                    </div>
                </div>

                <div class="card border-light mb-3 col-md-4" style="height: 100%; margin: 0 0; padding: 0 0;">
                    <div class="card-header">
                        <div>Vehículos</div>
                        <div><a href="#"><span><i class="fa fa-plus"></i></span></a></div>
                    </div>
                    <div class="card-body" id="vehiculos-body" style="overflow-y: scroll">

                    </div>
                </div>

            </div>

            @*Reporte Body*@
            <div class="card-body pestanna-body" id="reporte-body">

            </div>

        </div>

    </div>

</div>

<script src="~/Scripts/Dashboard.js"></script>

@Html.Partial("_ModalCasoInsert")