@model MCCM.Entidad.TMCCM_Usuario

<div class="row justify-content-center">
    <div class="danger">
        @ViewBag.Error
    </div>
    <form action="@Url.Content("/Home/VerificarUsuario")" method="post">
        <div class="card col-6">
            <div class="form-horizontal">
                <h4>Ingreso al Sistema</h4>
                <hr />

                <div class="form-group row">
                    <label for="nombre" class="col-md-3 col-form-label">Codigo</label>
                    <input type="text" class="col-md-8 form-control" name="Usuario" id="Usuario">
                </div>

                <div class="form-group row">
                    <label for="nombre" class="col-md-3 col-form-label">Contraseña</label>
                    <input type="text" class="col-md-8 form-control" name="contrasennia" id="contrasennia">
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Ingresar" class="btn btn-info" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
