@model MCCM.Entidad.TMCCM_Evento

<div class="modal fade" id="ModalFormEvento">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="tituloEventoModal">Registrar Evento</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body col-12">
                <div class="row">
                    <form class="col-12" id="FormEvento">
                        <div class="form-group row" id="divEventoID" style="display:none;">
                            <div class="col-4">
                                <h6><span>Evento ID: </span></h6>
                            </div>
                            <div class="col-md-8" id="divEventoIDI">
                                <input class="form-control" id="TN_ID_Evento" name="TN_ID_Evento" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <h6><span>Fecha/Hora: </span></h6>
                            </div>
                            <div class="col-md-8" id="divCalendarioF">
                                <input class="form-control" id="TF_Fecha" name="TF_Fecha" required/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <h6><span>Informa</span></h6>
                            </div>
                            <div class="col-md-8" id="divInformaF">
                                <input class="form-control" id="TC_Informa" name="TC_Informa" required />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <h6><span>Lugar: </span></h6>
                            </div>

                            <div class="col-md-8" id="divLugarF">
                                <input class="form-control" id="TC_Lugar" name="TC_Lugar" required />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <h6><span>Novedad</span></h6>
                            </div>
                            <div class="col-md-8" id="divNovedadF">
                                <textarea rows="2" class="form-control w-100" id="TC_Novedad" name="TC_Novedad"></textarea>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center" style="padding-top:2%;">
                            <button id="btnRegistrarEvento" class="btn btn-primary">Registrar</button>
                            <button id="btnModificarEvento" class="btn btn-info" style="display:none">Modificar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/js/Evento.js"></script>