.gris_oscuro {
    background-color: #333333;
}

.amarillo {
    background-color: #FFB140;
}

.rojo {
    background-color: #E21212;
}

.gris {
    background-color: #808080;
}

.morado {
    background-color: #910F66;
}

.azul_oscuro {
    background-color: #0C3E8E;
}

.gris_claro {
    background-color: #CCCCCC;
}

.amazrillo_claro {
    background-color: #FFE2B8;
}

.azul {
    background-color: #1361DF;
}

.negro {
    background-color: #000000;
}

.blanco {
    background-color: #FFFFFF;
}
